
nav {
  position: fixed;
  width: 100%;
}
.nav-wrapper {
  background-color: #53307F;
  display: grid;
  grid-template-areas: 
    "logo nav"
    "main main"
    "filter filter"
    ;
  grid-template-rows: 5vh 30vh 7vh;
  grid-template-columns: 60%;
}

.nav-small-wrapper {
  background-color: #53307F;
  display: grid;
  grid-template-areas: 
    "logo input nav"
    "filter filter filter"
    ;
  grid-template-rows: 10vh 7vh;
  grid-template-columns: 10vw 50vw 40vw;
  transition: all 99999ms ease-out;
}

.logo-wrapper {
  grid-area: logo;
}

.logo-wrapper img {
  margin-top: -10px;
}

.menu-wrapper {
  grid-area: nav;
}

.input-wrapper{
  grid-area: input;
  display: none;
}

.filter-wrapper{
  grid-area: filter;
  background-color: #fff;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}



.menu-flex { 
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  color: #fff
}

.info-wrapper{
  grid-area: main;
  justify-content: space-around;
  margin-left: 5%;
  color: #fff
}

.info-wrapper ul li b {
  font-size: 42px;
}

.info-wrapper ul li a {
  border: 1px solid #fff;
  letter-spacing: 1px;
  font-size: 10px;
  padding: 15px 35px;
  border-radius: 20px;
  color: #fff;
}

.info-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.filter-flex{
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin-top: 1.3%;
  margin-left: 5%;
}

.filter-menu{
  color: #000;
  border: 1px solid rgba(0, 0, 0 , 0.2);
  border-radius: 20px;
  font-size: 10px;
  padding: 5px 15px;
}

.filter-menu:hover {
  background-color: #9400D3;
  color: #fff;
  border-color:#9400D3;
} 


.form-content {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.form-content input {
  width: 50%;
  height: 30%;
  border-radius: 2px;
  outline: none !important;
  border:1px solid #53307F;
  font-size: 12px;
  font-weight: bold;
  padding-left: 15px;

}


.dropdown-wrapper {
  position: absolute;
  top: 98%;
  background-color: #fff;
  height: 150px;
  width: 250px;
  box-shadow: 3px 3px 5px 2px #ccc;
  display: none;
}


.dropdown-menu li {
  color: #000;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 20px;
}

.counter {
  width: 20px;
  padding-left: 15px;
  border: none;
  font-weight: bold;
}

.counter-input {
  position: absolute;
  right: 1%;
}


#button {
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  padding: 0px 5px 2px;
}

.dropdown-flex {
  display: flex;
  height: 20%;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%; 
  justify-content: space-between
}

.dropdown-flex li a {
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
}

.dropdown-flex li:nth-last-child(2n) a{
  color: silver;
}

.dropdown-flex li a{
  color: gold
}

.dropdown-flex-wrapper {
  position: absolute;
  top: 110px;
  width: 100%;
}

.fa-star {
  color: black
}

.checked {
  color: orange;
}


/* Javascript styles */
.purpleFilterSelected{
  background-color: #9400D3;
  color: #fff;
  border-color: #9400D3
}

.displaynone {
  display: none !important;
  transition: all 300ms ease-in-out;
}

.display {
  display: inline !important;
}







